# bytecode
target/

# Intellij IDEA project files
*.iml
.idea/

# Eclipse project files
.classpath
.externalToolBuilders
.project
.settings/

# Log files
logs/

# Windows stuff
Thumbs.db

# Zendesk config file
zendesk.properties

!src/test/resources/zendesk.properties

